# DATA EPLORATION AND ENGINEERING

## 1) Loading the wine data

In [1]:
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

### 1.1) Winequality red

In [3]:
url = "https://raw.githubusercontent.com/foxdocs/cph-bi-2024/main/Data/UCL-Wine/winequality-red.csv"

red_wine_df = pd.read_csv(url, delimiter=";", header=0)

In [4]:
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### 1.2) Winequality white

In [13]:
url_white = "https://raw.githubusercontent.com/foxdocs/cph-bi-2024/main/Data/UCL-Wine/winequality-white.csv"

white_wine_df = pd.read_csv(url_white, delimiter=";", header=0)

In [15]:
white_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [17]:
white_wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

## 2) Cleaning the data

### 2.0) General exploration

#### 2.0.1) Red Wine

In [22]:
red_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [24]:
red_wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

#### 2.0.2) White wine

In [46]:
white_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [48]:
white_wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

### 2.1) Exploring the missing values

#### 2.1.1) Red Wine

In [28]:
red_wine_df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

#### 2.1.2) White Wine

In [31]:
white_wine_df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### 2.2) Removing duplicates

#### 2.2.1) Red Wine

In [35]:
duplicates_rw = red_wine_df.duplicated(keep='first').sum()
duplicates_rw

240

In [37]:
red_wine_df_f2 = red_wine_df.drop_duplicates()
red_wine_df_f2.shape[0]

1359

#### 2.2.2) White wine

In [40]:
duplicates_ww = white_wine_df.duplicated(keep='first').sum()
duplicates_ww

937

In [42]:
white_wine_df_f2 = white_wine_df.drop_duplicates()
white_wine_df_f2.shape[0]

3961

## 3) Aggregating the two files

### 3.1) Adding columns to the two data frames

In [65]:
red_wine_df_f2["wine type"] = "red"
white_wine_df_f2["wine type"] = "white"

C:\Users\acm11\AppData\Local\Temp\ipykernel_25372\3092713722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_wine_df_f2["wine type"] = "red"
C:\Users\acm11\AppData\Local\Temp\ipykernel_25372\3092713722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  white_wine_df_f2["wine type"] = "white"

### 3.2) Concatenating red_wine_df_f2 and white_wine_df_f2

In [72]:
combined_wine_df = pd.concat([red_wine_df_f2, white_wine_df_f2], ignore_index=True)

## 4) General exploration of combined_wine_df

In [75]:
combined_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,red

In [77]:
combined_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5320 entries, 0 to 5319
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         5320 non-null   float64
 1   volatile acidity      5320 non-null   float64
 2   citric acid           5320 non-null   float64
 3   residual sugar        5320 non-null   float64
 4   chlorides             5320 non-null   float64
 5   free sulfur dioxide   5320 non-null   float64
 6   total sulfur dioxide  5320 non-null   float64
 7   density               5320 non-null   float64
 8   pH                    5320 non-null   float64
 9   sulphates             5320 non-null   float64
 10  alcohol               5320 non-null   float64
 11  quality               5320 non-null   int64
 12  wine type             5320 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 540.4+ KB

## 5) Calculating the decriptive statistics of the numeric data

### 5.1) Statistical descriptions of the values

In [79]:
combined_wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000
mean,7.215179,0.344130,0.318494,5.048477,0.056690,30.036654,114.109023,0.994535,3.224664,0.533357,10.549241,5.795677
std,1.319671,0.168248,0.147157,4.500180,0.036863,17.805045,56.774223,0.002966,0.160379,0.149743,1.185933,0.879772
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.240000,1.800000,0.038000,16.000000,74.000000,0.992200,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.300000,0.310000,2.700000,0.047000,28.000000,116.000000,0.994650,3.210000,0.510000,10.400000,6.000000
75%,7.700000,0.410000,0.400000,7.500000,0.066000,41.000000,153.250000,0.996770,3.330000,0.600000,11.400000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

### 5.2) Calculating the skewness of all the columns with numeric values

#### 5.2.1) Removing wine type (it isn't numerical)

In [90]:
columns_to_exclude = ["wine type"]

combined_wine_df_numerical = combined_wine_df.drop(columns = columns_to_exclude)

#### 5.2.2) Calculating the skewness of each column

In [93]:
skewness = combined_wine_df_numerical.skew()

print(skewness)

fixed acidity           1.650417
volatile acidity        1.504557
citric acid             0.484309
residual sugar          1.706550
chlorides               5.338237
free sulfur dioxide     1.362719
total sulfur dioxide    0.063614
density                 0.666326
pH                      0.389969
sulphates               1.809454
alcohol                 0.545696
quality                 0.147467
dtype: float64

It seems like the following aren't normally distributed:  
- fixed acidity
- volatile acidity
- residual sugar
- chlorides
- free sulfur dioxide
- sulphates

### 5.3) Visualizing some of the columns with histograms

## 11) Checking for outliers in 'residual sugar'

#### 11.1) combined_wine_df

##### 11.1.1) Finding the outliers through quantiles

In [ ]:
# 25 percentile: The value that 25 % of the data is below
Q1_fa = red_wine_df_f2["fixed acidity"].quantile(0.25)

# 75 percentile: The value that 75 % of the data is above
Q3_fa = red_wine_df_f2["fixed acidity"].quantile(0.75)

IQR_fa = Q3_fa-Q1_fa

Lower_Fence = Q1_fa - (1.5*IQR_fa)
Upper_Fence = Q3_fa + (1.5*IQR_fa)

# A boolean condition that identifies outliers in the "fixed acidity" column of the red_wine_df DataFrame
outliers_condition = (red_wine_df_f2["fixed acidity"] < Lower_Fence) | (red_wine_df_f2["fixed acidity"] > Upper_Fence)

outliers = red_wine_df_f2[(outliers_condition)]

number_of_outliers = outliers.shape[0]
print("Number of outliers: " + str(number_of_outliers))
outliers

###### (Standard deviation - just my own exploration)

In [ ]:
std_fix_aci = red_wine_df["fixed acidity"].std()
print(std_fix_aci)

In [ ]:
mean_fix_aci = red_wine_df["fixed acidity"].mean()
print(mean_fix_aci)

In [ ]:
Lower_Fence_from_std = mean_fix_aci - (3*std_fix_aci)
print("Lower Fence from std: " + str(Lower_Fence_from_std))
print("Lower Fence from quantiles: " + str(Lower_Fence))

###### Removing outliers

In [ ]:
#red_wine_df_f1 = red_wine_df[~outliers_condition]

In [ ]:
#red_wine_df_f1.iloc[240:250]

In [ ]:
#columns = red_wine_df_f1.shape[1]
#rows = red_wine_df_f1.shape[0]

#print("Number of columns: " + str(columns))
#print("Number of rows: " + str(rows))

In [ ]:
#row_2 = red_wine_df_f1.iloc[2]
"print(row_2)